*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html,body,.block,iframe
{
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.block
{
    display: none;
}

.show
{
    display: block;
}
.photo
{
    height: 100%;
    background-color: rgb(240, 242, 243);
}
.photo img
{
    margin-top: 15px;
    width: 100%;
}

.jumper
{
    color: white;
    width: 100%;
    background-color: rgba(0,0,0,0.65);
    position: fixed;
    bottom: 0;
    left: 0;
    padding: 15px;
}
.jumper a
{
    color: white;
    text-decoration: none;
}